
<nav class="navbar navbar-expand-lg navbar-dark backgroundColor">
    <a class="navbar-brand" href="#">Loan Selling Advisor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">CONTRACTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LOANS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">DATA SETS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">THIRD PARTY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SETTLEMENTS</a>
          </li>
        </ul>
        </div>
    </nav>
  
