<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Freddie Mac</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">TERMS AND CONDITIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PRIVACY POLICY</a>
      </li>
    </ul>
    
  </div>
  </nav>
