/* You can add global styles to this file, and also import other style files */
html {   background-color: lightgray; }

.backgroundColor {
    background-color: SteelBlue;
    color: white;
}
.backgroundColorwhite {
    background-color: white;
    color: SteelBlue;
    
    
}

.textColorLight {
    color: SteelBlue;
    font-weight: lighter;
    
}

.textColorBold {
    color: SteelBlue;
    font-weight: bold;
    
}
